.bg-black{
    background-color: purple;  
    color: aliceblue;       
}
h1 {
    color: blue;
    background-color: grey;
}
button{
    background-color: green;
    color: white;
}

#box {
    height: 100px;
    width: 100px;
    background-color: grey;
}